.contact{
    display: flex;
    width: 100%;
    
    background-color:$color;
    @include gg-d{
        flex-wrap: wrap;
    }
    .contact__map{
        width: 50%;
        @include gg-d{
            width: 100%;
            height: 400px;
            order: 2;
        }
    }
    
    .contact__form{
        display: flex;
        width: 50%;
        align-items: center;
        justify-content: center;
        @include gg-d{
            order: 1;
            width: 100%;
            
        }
       .contact__form__box{
        display: flex;
        flex-direction: column;
        height: 400px;
        width: 400px;
        justify-content: space-evenly;
      
        
        input{
            height: 40px;
            background-color: $color;
            color: lighten($color, 100%);
            outline: none;
            border: none;
            border-bottom: 1px solid lighten($color,55%)
        }
        input::placeholder, textarea::placeholder{
            color: lighten($color, 100%);
            font-size: 13px;
        }
        textarea{
            height: 60px;
            background-color: $color;
            outline: none;
            border: none;
            border-bottom: 1px solid lighten($color,55%);
            color: lighten($color, 100%);
        }
        .contact__form__button{
            input{
                background-color: lighten($colorGold,25%);
                color: $color;
                width: 90px;
                height: 50px;
            }
        }
        .contact__form__title{
            color: lighten($color, 100%);
            font-weight: 400;
            @include Josefin;
            margin-bottom: 10px;
        }

        
       }
    }
}