@import "./mixin/vars";
@import "./mixin/breakpoints";
@import "./mixin/font";
@import "./mixin/color";


body {

    background-color: $color;

    @include Popins;
    position: relative;

    margin: 0px 0px 0px 0px;
    min-width: 360px;


    .wrapper {
        .header {
            margin: 0 auto;
            max-width: 1920px;
        }

        .main {
            margin-top: 80px !important;
            overflow: hidden;

        }

    }
}




@import "./module/header";
@import "./module/slider";
@import "./module/home1";
@import "./module/home2";
@import "./module/footer";