@import "./mixin/vars";
@import "./mixin/breakpoints";
@import "./mixin/font";
@import "./mixin/color";

body {
    margin: 0 auto;
    max-width: 1920px;
    background-color: lighten($color, 8%);
    @include Popins;
    font-size: 18px;

    .wrapper {
        .header {
            margin: 0 auto;
            max-width: 1920px;
        }
    }
}

.main {
    margin-top: 80px !important;
    background-image: url(../img/food.png);
    background-repeat: repeat;
    background-size: 20%;

}

@import "./module/header";
@import "./module/service";
@import "./module/footer";